@using vm_rental.Utility.Services.Email
 
<table>
  <thead>
    <tr>
      <td><a href="#">(Logo Here)</a></td>
    </tr>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
       @if (Model.EmailSubject == EmailSubject.EmailConfirmationSubject.GetSubjectName()){
        <table>
          <tr>
            <td>
              Hello, @Model.ReceiverName, thank you for signing up, you need to verify your email address to continue using our services.
              To verify your email address click the link below:
              <a target="_blank" href="@Model.URL">Verification Link</a>
            </td>
          </tr>
        </table>
      }
      else if (Model.EmailSubject == EmailSubject.PasswordChangeSubject.GetSubjectName()){
          
      }
      else if (Model.EmailSubject == EmailSubject.PasswordForgottenSubject.GetSubjectName())
      {
          
      }
      </td>
    </tr>
  <tbody>
  <tfoot>

  </tfoot>
</table>
