$headerColor: #1A77BA;
$navButtonsTextColor: #dbdbdb;
$utilButtonsTextColor: #FFFFFF;
$rez: 131px;

$maxSiteWidth: 1140px;

$def-txt-color: #57686b;

//Predefined Button Variation Variables
$def-btn-font: Arial;
