$headerColor: #1A77BA;
$navButtonsTextColor: #dbdbdb;
$utilButtonsTextColor: #FFFFFF;
$rez: 131px;

$maxSiteWidth: 1140px;

$def-txt-color: #57686b;

//Predefined Button Variation Variables
$def-btn-font: Arial;

$def-btn-color-1: #00BBFC;
$def-btn-hov-color-1: #00c4f9;
$def-btn-border-color-1: #00b8ea;
$def-btn-txt-color-1: white;
$def-btn-width-1: 120px;
$def-btn-height-1: 40px;
$def-btn-radius-1: 4.5px;
$def-btn-txt-size-1: 14pt;
 
