.main-wrapper-signin{

}

//Already have an account? + Login Here! -> Form

.container_login {
    display: flex;
    justify-content: center;
}

.container_login .login {
    display: flex;
    align-items:center;
    width: 434px;
    height: 74px;
    background-color: #EDEDED;
    border-radius: 5px;
    margin-top:10px;
}

.login label{
    font-size:19pt;
    padding:8px;
}

.login .btn_login {
    font-size: 18pt;
    color: white;
    width: 146px;
    height: 38px;
    border-radius: 2%;
    background-color: #00BBFC;
}

//Not a Member Yet?-> Form


.container_type {
    display: flex;
    justify-content: center;
}

.container_type .reg_acc {
    width: 434px;
    height: 297px;
    background-color: #EDEDED;
    border-radius: 2%;
    margin-top:10px;
}

.reg_acc label {
    font-size: 19pt;
    padding: 5.5px;
}

.reg_acc .line {
    width: 208px;
    height: 1px;
    background-color: #E2E2E2;
    margin:0px 0px 20px 10px;
}
.reg_acc .type{
    text-align:center;
}

.type label{
    font-size:19pt;
    vertical-align:middle;
}
.center
{
    display:flex;
    flex-flow:column nowrap;
}
.center .type_account{
    display:flex;
    justify-content:center;
    margin-top:10px;
}
.center label{
    font-size:16pt;
}

.center .information_icon:before {
    font-size: 1.2em;
    content: "  ";
    white-space: pre;
    background: url(../../../images/icons/info_icon.svg) no-repeat;
    background-size: 100% 100%;
}

.center .type_icons{
    display:flex;
    justify-content:center;
}

.center .personal_icon:before {
    font-size: 9em;
    content: "   ";
    white-space: pre;
    background: url(../../../images/icons/personal_icon.svg) no-repeat;
    background-size: 100%;
}

.center .v1 {
    border-left: 3px solid #E2E2E2;
    height:90px;
}


.center .business_icon:before {
    font-size: 9em;
    content: "   ";
    white-space: pre;
    background: url(../../../images/icons/business_icon.svg) no-repeat;
    background-size: 100%;
}

.center_arrow
{
    display:flex;
    justify-content:center;
    align-items:center;
  
}

.center_arrow .dropdown_icon:before {
    font-size: 6em;
    content: "   ";
    white-space: pre;
    background: url(../../../images/icons/dropdown_icon.svg) no-repeat;
    background-size: 100%;
}






//Company Registration Form
.company_registration {
    display: flex;
    justify-content: center;
}

.company_registration .company_form {
    width: 434px;
    height: 446px;
    background-color: #EDEDED;
    border-radius: 2%;
    margin-top: 10px;
}

.company_form label {
    font-size: 19pt;
    margin-left:20px;
}

.company_form .line {
    width: 208px;
    height: 1px;
    background-color: #E2E2E2;
    margin: 0px 0px 20px 15px;
}

.company_form input{
    width:150px;
    height:16px;
    border-radius:1%;
    margin:8px;
}
input:focus {
   width:160px;
}


.company_form .column {
    display: flex;
    flex-direction: column;
}



.row #state{
    width:66px;
}
.row #city{
    justify-content:flex-end;
    width:66px;
}

.row input[id="code"]{
    width:40px;
    text-align:center;
    border:2px solid #E2E2E2;
}
.row input[id="code"]{
    width:50px;
}





//Personal Registration Form
.personal_registration {
    display: flex;
    justify-content: center;
}

.personal_registration .personal_form {
    width: 434px;
    height: 446px;
    background-color: #EDEDED;
    border-radius: 2%;
    margin-top: 10px;
}
.personal_form label {
    font-size: 19pt;
    margin-left: 20px;
}

.personal_form .line {
    width: 208px;
    height: 1px;
    background-color: #E2E2E2;
    margin: 0px 0px 20px 15px;
}

.personal_form input {
    width: 150px;
    height: 16px;
    border-radius: 1%;
    margin: 8px;
}

input:focus {
    width: 160px;
}


.personal_form .column {
    display: flex;
    flex-direction: column;
}

.personal_form .row {
    margin-right:80px;
}

.center_personal input[id="code"] {
    width: 40px;
    text-align: center;
    border: 2px solid #E2E2E2;
}

.center_personal input[id="code"] {
    width: 50px;
}

.center_personal
{
    display:flex;
    justify-content:center;
    margin:10px;
}



//By Signing up, you agree to the Terms and Conditions + Button for Sign Up.

.terms {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

.terms label {
    font-size: 8pt;
    font-family: Arial;
    margin-top: 8px;
}

.blue_conditions {
    font-size: 8pt;
    font-style: italic;
    font-weight: bold;
    color: #00BBFC;
    text-decoration: underline;
}


.btn_reg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_up {
    background-color: #00BBFC;
    width: 150px;
    height: 33px;
    color: white;
    margin-top: 20px;
}