.main-wrapper-signup {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 200px;
}

$inputWidth: 200px;
$inputHeight: 24px;
$inputBorderWidth: 2px;

$inputHorGap:10px;
$inputVerGap:10px;

$stateCityWidth: ($inputWidth / 2);

.sign-up-container-main {
    max-width: $maxSiteWidth / 2; //980px by Default Before Division
    width: 100%;
    margin: 0 auto;
    color: $def-txt-color;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0px 20px 0px;

    .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: #EDEDED;
        border: 2px solid #0091d1;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 10px;

        h1 {
            font-size: 16pt;
            font-weight: bold;
            white-space: nowrap;
        }

        .login-btn {
            @include btn-style-1(140px, 34px);
            margin-left: 10px;
        }

        @media screen and (max-width:375px) {
            h1 {
                font-size: 12pt;
                font-weight: bold;
                white-space: nowrap;
            }

            .login-btn {
                @include btn-style-1(100px);
                margin-left: 10px;
            }
        }
    }

    .account-type-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        background-color: #EDEDED;
        border: 2px solid #0091d1;
        border-radius: 4px 4px 0px 0px;
        box-sizing: border-box;

        .account-type-header {
            padding: 12px 20px 20px 20px;

            h1 {
                font-size: 18pt;
                font-weight: bold;
            }

            hr {
                border-width: 0.4px;
                border-color: #DDDDDD;
                margin: 0;
            }
        }

        .account-type-content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .account-type-info-container {
                display: flex;
                justify-content: center;

                h1 {
                    font-size: 1.5em;
                    font-weight: bold;
                    z-index: 0;
                }

                .account-type-info-icon {
                    width: 20px;
                }
            }

            .account-type-btn-container {
                display: flex;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: #EDEDED;

                h1 {
                    text-align: center;
                    font-size: 16pt;
                    font-weight: bold;
                    color: #00abd3;
                }

                button {
                    display: flex;
                    margin-top: 5px;
                    width: 90px;
                    height: 90px;
                    border: 1px solid #00abd3;
                    border-radius: 8px;
                }

                .btn-separator {
                    display: flex;
                    align-self: flex-end;
                    height: 100px; //Equal to Button's Height
                    border-left: 1px solid #DDDDDD;
                    margin: 0 15px;
                }
            }
        }
    }
}

.sign-up-container[type="personal"], .sign-up-container[type="business"] {
    width: 100%;
    padding-top: 10px;
    //Every Form Section
    fieldset {
        padding: 12px 20px 20px 12px;

        .form-header {
            font-size: 18pt;
            font-weight: bold;

            hr {
                border-top: 0.2px;
                border-color: #DDDDDD;
                margin: 0;
            }
        }

        input {
            width: $inputWidth;
            height: $inputHeight;
            margin-top: $inputVerGap;
            border: $inputBorderWidth solid #DDDDDD;
            border-radius: 3px;
            padding-left: 10px;
            box-sizing: border-box;
            color: #00a6cc;

            &::placeholder {
                color: #bcbcbc;
            }


            &:focus {
                outline: 2px solid #00abd3;
            }
        }

        input[type="email"].fielderror{
            border:1px solid #f00;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-left: 12px;
        }

        .sub-row {
            display: flex;
        }
    }
}

.sign-up-container[type="personal"] {

    .account-info {
        display: flex;
        justify-content: center;
        align-items: center;

        input[name="email"], input[name="password"] {
            margin-left: 12px;
        }


        #err-msg-email {
            color: #f00;
            display: flex;
            justify-content: flex-end;
            margin: -20px 0 30px 0;
        }

        #err-msg-password {
            color: #f00;
            display: flex;
            justify-content: flex-end;
            margin: -20px 0 30px 0;
        }

        span#password-error {
            border: 1px solid red;
            border-radius:30px;
            width: 200px;
            font-size: 12px;
            text-align: center;
        }

        @media screen and (max-width:600px) {
            #err-msg-email {
                display: flex;
                justify-content:flex-start;
                color: #f00;
                margin:0px 0px 0px 15px;
            }
            

            #err-msg-password {
                color: #f00;
                display: flex;
                justify-content: flex-start;
                margin:0px 0px 0px 15px;
            }

            span#password-error {
                border: 1px solid red;
                width: 200px;
                font-size: 12px;
                text-align: center;
            }
        }
    }




    .personal-info {
        display: flex;

        .name-row {

            input[name="firstname"] {
                margin-right: $inputHorGap;
            }
        }

        .address-row {

            input[name="state"],
            input[name="city"] {
                margin-right: $inputHorGap;
            }

            input[name="state"], input[name="city"] {
                width: $stateCityWidth - 5px;
            }
        }

        .phone-row {
            margin-left: $stateCityWidth;

            .country-code {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: $inputVerGap;
                background-color: #fcfcfc;
                width: 50px;
                border-radius: 2px 0px 0px 2px;
                border: $inputBorderWidth solid #DDDDDD;
                font-weight: bold;
                color: dodgerblue;
                box-sizing: border-box;
            }

            input[name="phone"] {
                width: ($stateCityWidth * 2 + $inputHorGap) - 50px;
                border-left: 0px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }

    .sign-up-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $inputVerGap;

        p {
            font-weight: bold;
            width: 290px;
            text-align: center;

            a {
                color: #3366BB;
            }
        }

        .sign-up-btn {
            @include btn-style-1(180px, 50px, 15pt, 0px);
            margin-top: 20px;
            width: 100%;
        }
    }
}

.sign-up-container[type="business"] {

    .account-info {
        display: flex;
        justify-content: center;
        align-items: center;
        
        input[name="email"], input[name="password"] {
            margin-left: 12px;
        }
    }

    .owner-info {
        display: flex;
        flex-wrap: wrap;

        .name-row {

            input[name="firstname"] {
                margin-right: $inputHorGap;
            }
        }
    }

    .company-info {
        .company-details-row1 {

            input[name="companyname"],
            input[name="state"] {
                margin-right: $inputHorGap;
            }

            input[name="state"], input[name="city"] {
                width: $stateCityWidth - 5px;
            }
        }

        .company-details-row2 {

            input[name="companyaddress"] {
                margin-right: $inputHorGap;
            }

            .country-code {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: $inputVerGap;
                background-color: #fcfcfc;
                width: 50px;
                border-radius: 2px 0px 0px 2px;
                border: $inputBorderWidth solid #DDDDDD;
                font-weight: bold;
                color: dodgerblue;
                box-sizing: border-box;
            }

            input[name="phone"] {
                width: ($stateCityWidth * 2 + $inputHorGap) - (50px + 10px);
                border-left: 0px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }

        }
    }

    .sign-up-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $inputVerGap;

        p {
            font-weight: bold;
            width: 290px;
            text-align: center;

            a {
                color: #3366BB;
            }
        }

        .sign-up-btn {
            @include btn-style-1(180px, 50px, 15pt, 0px);
            margin-top: 20px;
            width: 100%;
        }
    }
}

.account-type-container[toggled="true"] {
        height: 25%;
        transition: all 2s ease-in;
}

.account-type-btn[active="true"] {
    background-color: #00c0f4;
}

.account-type-btn:hover {
    background-color: #0295bc;
}

.sign-up-container[active="true"]{
    border-top: 1px solid #DDDDDD;
    opacity: 1;
    transition: opacity 1s ease-in, border 1s linear;
}

.sign-up-container[active="false"]{
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
}

@media screen and (min-width:600px)
{
    #err-msg-email {
        color: navy;
    }

    #err-msg-password {
        color: #f00;
    }

    span#password-error {
        border: 1px solid red;
        width: 190px;
        font-size: 12px;
        text-align: center;
    }
        
    .login-btn {
            @include btn-style-1(140px);
            margin-left: 10px;
        }
    
}
@media screen and (max-width:601px) {
    #err-msg-email {
        color: navy;
    }

    #err-msg-password {
        color: #f00;
    }

    span#password-error {
        border: 1px solid red;
        width: 190px;
        font-size: 12px;
        text-align: center;
    }
}