<div class="form-email">
  <div class="rec-email">
    <h1 class="info-name">Email Confirmation</h1>
    <div class="info">
      <span class="text" style="color:red;">Hey @Model.Name, you are almost ready to start enjoying our new, official BestRust server.</span>
      <span class="text">Simply click the button below to verify your email address.</span>
    </div>
    <div class="verify">
      <button class="verifyemail">Verify email address</button>
    </div>
  </div>
</div>
