header{
    display:grid;
    grid-template-rows: 64px auto 22px;
    background-color: $headerColor;  
    padding: 20px 10px 0 10px;
    border: 1.5px solid red;
 
    .header-top{
        display:grid;
        grid-template-columns: auto 1fr auto;
        border: 2px solid red;
    }

    .header-bottom{
        display:grid;
        grid-template-columns: 1fr 1fr;
        border: 2px solid yellowgreen;
    }
    
    .header-mid{
        height: 55px;
    }
    
    @media screen and(max-width:768px)
    {
        .header-bottom{
            display:grid;
            grid-template-columns: 1fr;
        }
    }

}