.nav-bar-wrapper{
    border:2px solid violet;
    height: auto;

    &, & .nav-bar, & .nav-bar .nav-btn, & .nav-bar .nav-btn .nav-btn-txt{
        display: flex;
    }

    .nav-bar{
        list-style: none;
        border: 2px solid blue;
        width: 100%;
        
        .nav-btn{
          width: 100%;
          height: 30px;
          border-top: 2px solid yellow;

            &:not(:last-child){
                //border-right: 2px solid black;
            }
        }
        
        .nav-btn-txt{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items:center;
            color: $navButtonsTextColor;
        }
    }
}

.mobile-nav-btn{
    display: flex;
    align-items: center;
    border: 2px solid gray;
    font-size: 2em;
    padding: 0 4px;
    cursor: pointer;
}

.nav-btn:hover
{
    background: #e91e63;
}

@media screen and(min-width:600px)
{
    .mobile-nav-btn{
        display: none;
    }
}

@media screen and(max-width:600px)
{   
    .nav-bar-wrapper{
        flex-wrap: wrap;
    }

    .nav-bar[is-active="true"]{
        display: flex;
        flex-wrap: wrap;
    }

    .nav-bar[is-active="false"]{
        display: none;  
    }
}
