@{
  ViewData["Title"] = "Sign Up";
  ViewData["Description"] = "A Convenient Rental Service for Virtual Machines.";
  ViewData["Wrapper_Class"] = "page-emailconfirmed-all-container";
}
<div>
  <h1>Email Confirmed!</h1>
</div>