@model vm_rental.ViewModels.Account.ClientViewModel
@{
    ViewData["Title"] = "Sign Up";
    ViewData["Description"] = "A Convenient Rental Service for Virtual Machines.";
    ViewData["Wrapper_Class"] = "page-signup-all-container";
}
@section Scripts{
        <script src="@Url.Content("~/scripts/account_selection.js")"></script>
        <script src="@Url.Content("~/scripts/sign-up.js")"></script>
}
<div class="page-signup-container">
    <div class="login">
        <h1>Already have an account?</h1>
        <button class="login__button" asp-controller="Account" asp-action="SignIn">Login Here!</button>
    </div>
    <div class="acc-type">
        <div class="acc-type__header">
            <h1>Not a Member Yet?</h1>
            <span class="acc-type__header__h-line"></span>
        </div>
        <div class="acc-type__subheader">
            <h1>Select Your Account Type</h1>
            <img />
        </div>
        <div class="acc-type__selector">
            <div class="acc-type__button-col">
                <h1>Personal</h1>
                <button class="acc-type__button--personal acc-type__button"><img /></button>
            </div>
            <span class="acc-type__button-separator"></span>
            <div class="acc-type__button-col">
                <h1>Business</h1>
                <button class="acc-type__button--business acc-type__button"><img /></button>
            </div>
        </div>
        <form class="acc-form" form-type="personal" method="POST" asp-controller="Account" asp-action="Create">
            <div class="acc-form__acc-info acc-form__field-section">
                <div class="acc-form__field-header">
                    <h1>Account Information</h1>
                    <span class="acc-form__h-line"></span>
                </div>
                <div class="acc-form__field-row">
                    <div class="acc-form__field-subrow acc-form__field-subrow--half">
                        <input type="text" placeholder="Username*" class="acc-form__field" name="username" asp-for="userName" />
                        <span class="acc-form__field-status-username"></span>
                    </div>
                    <span class="acc-form__field-msg-username acc-form__field-msg"  asp-validation-for="userName"></span>
                </div>
                <div class="acc-form__field-row">
                    <div class="acc-form__field-subrow acc-form__field-subrow--half">
                        <input type="text" placeholder="Email*" class="acc-form__field" name="email" asp-for="email" />
                        <span class="acc-form__field-status-email"></span>
                    </div>
                    <span class="acc-form__field-msg-email acc-form__field-msg"  asp-validation-for="email"></span>
                </div>
                <div class="acc-form__field-row ">
                    <div class="acc-form__field-subrow acc-form__field-subrow--half">
                        <input type="password" placeholder="Password*" class="acc-form__field" name="password" asp-for="password" />
                        <span class="acc-form__field-status-password"></span>
                    </div>
                    <span class="acc-form__field-msg-password acc-form__field-msg" asp-validation-for="password"></span>
                </div>
            </div>
            <div class="acc-form__field-section">
                <div class="acc-form__field-header">
                    <h1>Personal Information</h1>
                    <span class="acc-form__h-line"></span>
                </div>
                <div class="acc-form__field-row">
                    <div class="acc-form__field-subrow acc-form__field-subrow--2x1">
                        <input type="text" placeholder="First Name*" class="acc-form__field" name="firstname" asp-for="firstName" />
                        <input type="text" placeholder="Last Name*" class="acc-form__field" name="lastname" asp-for="lastName" />
                        <span class="acc-form__field-msg-firstname acc-form__field-msg" asp-validation-for="firstName"></span>
                        <span class="acc-form__field-msg-lastname acc-form__field-msg" asp-validation-for="lastName"></span>
                    </div>
                </div>
                <div class="acc-form__field-row">
                    <div class="acc-form__field-subrow acc-form__field-subrow--2x1 acc-form__field-subrow--2x1--half">
                        <input type="text" placeholder="State*" class="acc-form__field" name="state" asp-for="state" />
                        <input type="text" placeholder="City*" class="acc-form__field" name="city" asp-for="city" />
                        <span class="acc-form__field-msg-state acc-form__field-msg" asp-validation-for="state"></span>
                        <span class="acc-form__field-msg-city acc-form__field-msg" asp-validation-for="city"></span>
                    </div>
                    <div class="acc-form__field-subrow acc-form__field-subrow--half">
                        <div class="acc-form__field-subrow">
                            <span class="acc-form__country-code">+359</span>
                            <input type="tel" placeholder="Mobile Phone*" class="acc-form__field" name="phone" asp-for="phone" />
                        </div>
                        <span class="acc-form__field-msg-phone acc-form__field-msg" asp-validation-for="phone"></span>
                    </div>
                </div>
            </div>
            <div class="acc-form__business-info acc-form__field-section" section-type="business">
                <div class="acc-form__field-header">
                    <h1>Business Information</h1>
                    <span class="acc-form__h-line"></span>
                </div>
                <div class="acc-form__field-row">
                    <div class="acc-form__field-subrow acc-form__field-subrow--half">
                        <input type="text" placeholder="Business Name*" class="acc-form__field" name="firmname" asp-for="firmName" />
                        <span class="acc-form__field-msg-firmname acc-form__field-msg" asp-validation-for="firmName"></span>
                    </div>      
                </div>
            </div>
            <div class="acc-form__terms">
                <p>By Clicking Sign Up, You agree to the</p>
                <p><a href="#"><i>Terms of Service</i></a> and <a href="#"><i>Privacy Policy</i></a>.</p>
            </div>
            <button type="submit" class="acc-form__signup-button">Sign Up</button>
        </form>
    </div>
</div>

