@{
    ViewData["Title"] = "Sign In";
    ViewData["Description"] = "A Convenient Rental Service for Virtual Machines.";
    ViewData["Wrapper_Class"] = "main-wrapper-signin";
}
<div class="container_login">
    <div class="login">
        <label>Already have an account?</label>
        <button class="btn_login">Login Here!</button>
    </div>
</div>

<div class="container_type">
    <div class="reg_acc">
        <label>Not a Member Yet?</label>
        <div class="line"></div>
        <div class="type">
            <label>Select your Account Type</label>
        </div>
        <div class="choice">
            <label>Personal</label>
            <label>Business</label>
        </div>
    </div>
</div>