@{
    ViewData["Title"] = "Sign In";
    ViewData["Description"] = "A Convenient Rental Service for Virtual Machines.";
    ViewData["Wrapper_Class"] = "main-wrapper-signin";
}
<div class="container_login">
    <div class="login">
        <label>Already have an account?</label>
        <button class="btn_login">Login Here!</button>
    </div>
</div>

<div class="container_type">
    <div class="reg_acc">
        <label>Not a Member Yet?</label>
        <div class="line"></div>
        <div class="type">
            <label>Select your Account Type</label>
        </div>
        <div class="center">
            <div class="type_account">
                <label>Personal <span class="information_icon"></span> </label>
                <label>Business <span class="information_icon"></span> </label>
            </div>
            <div class="type_icons">
                <span class="personal_icon"></span>
                <div class="v1"></div>
                <span class="business_icon"></span>
            </div>
            <div class="center_arrow">
               <span class="dropdown_icon"></span>
            </div>
        </div>
    </div>
</div>



<div class="company_registration">
    <div class="company_form">
        <label>Account Information</label>
        <div class="line"></div>
        <div class="column">
            <input type="email" placeholder="Email*" maxlength="45" />
            <input type="password" placeholder="Password*" maxlength="45" />
        </div>
        <label>Owner Information</label>
        <div class="line"></div>
        <div class="row">
            <input type="text" placeholder="First Name*" maxlength="45" />
            <input type="text" placeholder="Last Name*" maxlength="45" />
        </div>
        <label>Company Information</label>
        <div class="line"></div>
        <div class="column">
            <div class="row">
                <input type="text" placeholder="Company Name*" maxlength="45" />
                <input id="state" type="text" placeholder="State*" />
                <input id="city" type="text" placeholder="City*" />

            </div>
            <div class="row">
                <input type="text" placeholder="Company Address*" />
                <input id="code" type="text" placeholder="+359" maxlength="3" />
                <input type="text" placeholder="Company Phone*" maxlength="13" />
            </div>
        </div>
        <div class="terms">
            <label>By signing up, you agree to the</label>
            <label class="blue_conditions">Terms and Conditions.</label>
        </div>
        <div class="btn_reg">
            <button class="sign_up">Sign Up</button>
        </div>
    </div>
</div>



<div class="personal_registration">
    <div class="personal_form">
        <label>Account Information</label>
        <div class="line"></div>
        <div class="column">
            <input type="email" placeholder="Email*" maxlength="45" />
            <input type="password" placeholder="Password*" maxlength="45" />
        </div>

        <label>Personal Information</label>
        <div class="line"></div>
        <div class="column">
            <div class="row">
                <input type="text" placeholder="First Name*" maxlength="45" />
                <input type="text" placeholder="Last Name*" maxlength="45" />

            </div>
            <div class="row">
                <input id="state" type="text" placeholder="State*" />
                <input id="city" type="text" placeholder="City*" />
                <input type="text" placeholder="Address*" maxlength="45" />
            </div>
            <div class="center_personal">
                <input id="code" type="text" placeholder="+359" maxlength="3" />
                <input type="text" placeholder="Company Phone*" maxlength="13" />
            </div>
        </div>
        <div class="terms">
            <label>By signing up, you agree to the</label>
            <label class="blue_conditions">Terms and Conditions.</label>
        </div>
        <div class="btn_reg">
            <button class="sign_up">Sign Up</button>
        </div>
    </div>
</div>