<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>@ViewData["Title"]</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="@ViewData["Description"]">
        <link rel="stylesheet" type="text/css" href="../styles/scss/main.css" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <div class="main-wrapper-index">

            @if (!IsSectionDefined("Header"))
            {
                <partial name="HeaderPartial" />
            }

            <main>@RenderBody()</main>

            @if (!IsSectionDefined("Footer"))
            {
                <partial name="FooterPartial" />
            }

        </div>
        
        @RenderSection("Scripts", required: false)
    </body>
</html>
