<header class='header'>
  <div class="header__util">
    <div class="header__util__wrapper">
      <div class="header__util__bar">
        <div class="header__util__lang-btn header__util__btn">
          <i class="icon-smphone"></i><i>+(359) 988 984 681</i>
        </div>
        <span class="header__util__divider"></span>
        <div class="header__util__cart-btn header__util__btn">
          <i class="icon-cart"></i><p>Cart</p>
        </div>
        <a asp-controller="Account" asp-action="Signin">
          <div class="header__util__login-btn header__util__btn">
            <i class="icon-login"></i><p>LOGIN</p>
          </div>
        </a>
        <a asp-controller="Account" asp-action="Signup">
          <div class="header__util__reg-btn header__util__btn">
            <p>CREATE AN ACCOUNT</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="header__nav">
    <div class="header__nav__wrapper">
      <a asp-controller="Home" asp-action="Index">
       <i class="icon-logo"></i>
      </a>
      <nav class="header__nav__bar" is-toggled="false">
        <ul>
          <a asp-controller="Account" asp-action="Signup">
            <li class="header__nav__servers-btn header__nav__btn">
              <i class="icon-server"></i><p>Servers</p>
            </li>
          </a>
        </ul>
      </nav>
    </div>
  </div>
</header>


